{% extends "stock_floor/base.html" %}

{%  load static %}

{% load crispy_forms_tags %}

{% block title %}Stock Floor{% endblock %}

{% block content %}
    <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
            </div>
        </div>
    </div>
    </header>

    <div class="row" >
        <div class="col-md-7 "> 
            <h1>&nbsp;</h1>
            <img id="ABLogo" class="img" src="/static/img/Alphabet_Design_3.png">
            <h1>&nbsp;</h1>
            <h1 id="slogen_af" class="mb-5"> Seize the Alpha </h1>
            <h1 id="slogen_af" class="mb-5"> Seize the Opportunity </h1>
            <h1 id="slogen_af" class="mb-5"> Seize the Future </h1>
        </div>

        <div class="col-md-5 ">
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
            <div class="card text-white bg-dark mb-5 offset-l2" style="width: 100%; font-family: AspergitRegular;">
            <div class="card-header" style="font-size: 23px;">Sign Up</div>
            <div class="card-body">
                <div class="col d-flex justify-content-center">
                    <div class="content-section"style="width: 70%;font-size: 20px"  >
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4" >Join Today</legend>
                                {{ form|crispy }}
                                <p style="color:rgb(236, 69, 69)">*Please register with your own email since email verification is required</p>
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-info" type="submit">Sign Up</button>
                            </div>
                            <br>
                        </form>
                        <div class="border-top pt-3">
                            <small class="text-muted">
                                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    </div>


{% endblock content %}