{% extends "stock_floor/base.html" %}

{%  load static %}

{% block title %}Stock Floor{% endblock %}

{% block content %}
    <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 id="slogen" class="mb-5">Let's improve your investment portfolio!!!</h1>
                 <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/C-770uuFILM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    </div>
  </header>

  <!-- Icons Grid -->
  
    <div class="container">
      <div id="landingrow" class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Stock Floor</h3>
            <p class="lead mb-0">You can discuss and share your favourite trending stock and newly founded trading strategy in your strategy analyzer.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Strategy Analyzer</h3>
            <p class="lead mb-0">Providing the graph according to different filters and stock.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}