{% extends 'stock_floor/base.html' %}

{% block title %}Stock Floor{% endblock %}

{% block content %}
  <a href="{% url 'create' %}" class="btn btn-primary">Create New Post</a>
    <hr/>
    {% for post in post %}
      <div class="card">
        <div class="card-header">
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> by {{ post.author }}  {{ post.date_posted|date:"F d, Y" }}
        </div>
        <div class="card-body">
          <!-- <p class="card-text">{{ post.content|truncatewords:20 }}</p> -->
          <a href="{{ post.get_absolute_url }}" class="btn btn-light">Read</a>
        </div>
        <div class="card-footer">
          {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url }}" class="badge bg-primary">{{ tag.name }}</a>
          {% endfor %}
        </div>
      </div>
      <hr/>
    {% endfor %}
{% endblock %}