{% extends 'stock_floor/base.html' %}

{% block title %}{{ post.title }}{% endblock %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block content %}
    <h1 class="mt-5" style="font-size: 100px;">{{ post.title }}</h1>
    <p>
        <h4>
            {% for tag in post.tgtags.all %}
                <span><a href="{% url 'stockfloor_tgtagsdetail' slug=tag %}" class="badge bg-primary link-light">#{{ tag.name }}</a></span>
            {% endfor %}
        </h4>
    </p>
    <hr>
    {% if post.coverimg %}
        <div class="img text-center">
            <img id="coverimg" src="{{ post.coverimg.url }}" height="540px">
        </div>
    {% endif %}
    <hr>
    <h3 style="font-size: 30px;">{{ post.author }}</h3>
    <h3 style="font-size: 20px;">{% localtime on %} {{ post.date_posted|date:"F d, Y" }} {% endlocaltime %}</h3>
    <div id="postcard" class="card">
        <div id="postcardBody" class="card-body text-start ms-2" style="font-size: 20px;">
            {{ post.content }}
        </div>
    </div>
    <br>
    {% if post.author == user %}
        <a id="b1" href="{{ post.get_update_url }}"class="btn btn-primary">Update Your Post</a>
        <a id="b2" href="{{ post.get_delete_url }}"class="btn btn-primary">Delete this Post</a>
    {% endif %}
    <hr/>
    <h2>Comments</h2>
    {% if not comment %}
        <h5>No Comments Yet...</h5>
    {% else %}
        {% for comment in comment %}
        <div id="Comments" class="card">
            <div class="card-body ms-3">
                {{ comment.comment_author }} - {% localtime on %} {{ comment.comment_date_added }} {% endlocaltime %}
                <br/>
                {{ comment.comment }}
                <br/>
            </div>
        </div>
        <br>
        {% endfor %}
    {% endif %}
    <!-- Comment Form -->
    <div id="Comment_Form" class="mb-5">
        <form action="{% url 'stockfloor_postdetail' slug=post.slug %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
            <br>
            <button class="btn btn-primary" type="submit" style="color:white;">Comment</button>
        </form>
    </div>
{% endblock %}