{% extends 'stock_floor/base.html' %}

{% block title %}Post with ""{% endblock %}

{% block content %}
<h1 id="StockFloorTitle" class="text-center" style="font-size: 90px; font-family: HaextPlain;">Stock Floor</h1>
<h1 class="ms-5" style="color:white;">Post with <span class="badge bg-primary" style="font-size: 25px;">#{{ tagname }}</span>:</h1>

<div id="postgrid" class="container"></div>
    <div id="postrow" class="row">
      {% for post in page.object_list %}
      <div id="postlistcard" class="container">
        <div id="postlistcardr1" class="row">
          {% if post.coverimg %}
            <a href="{{ post.get_absolute_url }}"><img id="cardimg" src="{{ post.coverimg.url }}"></a>
          {% else %}
            <a href="{{ post.get_absolute_url }}"><img id="cardimg" src="/static/img/Alphabet_Design_3.png"></a>
          {% endif %}
        </div>
        <div id="postlistcardr2" class="row-sm">
          <h3 class="text-center"><a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:10 }}</a></h3>
        </div>
        <div id="postlistcardr3" class="row">
          <p class="card-text lead" >{{ post.content|truncatewords:3 }}...</p>
        </div>
        <div id="postlistcardr4" class="row-sm">
          <span id="postlistcardc1" class="col-1">
            <a href="{% url 'profile' pk=post.author.id %}"><img class="rounded-circle" src="../../../mediafiles/{{ post.author.profile.profile_picture }}"></a>
          </span>
          <span id="postlistcardc2" class="col-8">
            by <a href="{% url 'profile' pk=post.author.id %}">{{ post.author|truncatechars:10 }}</a>
          </span>
          <span id="postlistcardc3" class="col-1">
            <a>{{ post.date_posted|date:"F d, Y" }}</a>
          </span>
        </div>
        <div id="postlistcardr5" class="row-sm">
          <span>
            {% for tgtags in post.tgtags.all %}
              <a href="{% url 'stockfloor_tgtagsdetail' slug=tgtags %}" class="badge bg-primary" id="postlist_tags">#{{ tgtags }} </a>
            {% endfor %}
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
    <br>
    {% if tgtag.count > 6 %}
      <nav aria-label="Page navigation">
        <ul class="pagination ms-5">
          <li class="page-item">
            <a class="page-link" href="{{ prev_url }}" aria-label="Previous" style="background: #48484a;">
              <span aria-hidden="true" style="color: white;">&laquo;</span>
            </a>
          </li>
    
          {% for n in page.paginator.page_range %}
            {% if page.number == n %}
                <li class="page-item active" aria-current="page">
                    <a href="?page={{ n }}" class="page-link">{{ n }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="?page={{ n }}" class="page-link">{{ n }}</a>
                </li>
            {% endif %}
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="{{ next_url }}" aria-label="Next" style="background: #48484a;">
              <span aria-hidden="true" style="color: white;">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    {% else %}
      <br>
    {% endif %}
  </div>
{% endblock %}