@font-face {
    font-family: HaextPlain;
    src: url(HaextPlain.otf);
}

@font-face {
    font-family: AspergitRegular;
    src: url(AspergitRegular.otf);
}

body {
    z-index: -1;
    height: 100%;
    background: #111111;
}

#slogen {
    font-family: HaextPlain;
    color: white;
}

li {
    font-family: HaextPlain !important;;
    color: black;
}

h1, h2, h3, h4, h5, h6, h7, p, a {
    font-family: AspergitRegular;
    color: white;
}

#Comments, #CM_Form, #Post_Update_Form, #postlist_tags, #Comment_Form {
    font-family: AspergitRegular;
    color: white;
}

/* #cards {
    height: 100%;
    width: 18rem;
    font-family: AspergitRegular;
    color: white;
    background: #757575;
} */

/* .card-header{
    height: 100%;
    width: 100%;
}

.card-footer {
    height: 100%;
    width: 100%;
} */

.row {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.card-body {
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
}

#cardimg {
    height: 100px;
    width: 100px;
}

#navbar{
    background: #48484a;
}

#particles-js {
    position: absolute;
    height: auto;
    width: 100%;
    background: #111111;
}

#ABNavbarLogo {
    height: 60px;
    width: 60px;
    background: #48484a;
}