@font-face {
    font-family: HaextPlain;
    src: url(HaextPlain.otf);
}

@font-face {
    font-family: AspergitRegular;
    src: url(AspergitRegular.otf);
}

.body {
    z-index: -1;
    height: 100%;
    background: #111111;
}

#slogen {
    font-family: HaextPlain;
    color: white;
}

#CM_Form, #Post_Update_Form, #Comment_Form {
    font-family: AspergitRegular;
    color: white;
}

#postgrid {
    width: 200%;
}

#postrow {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    margin-left: -3cm;
    margin-right: -3cm;
}

#cardimg {
    height: 20vh;
    width: auto;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

/* #coverimg {
    height: 540px;
    width: auto;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
} */

#postcard {
    color: white;
    background-color: #48484a;
    width: 100%;
}

/* #postcardBody {
    text-indent: 30px;
    font-family: AspergitRegular;
} */

#Comments {
    background-color: #48484a;
    color: white;
    font-family: AspergitRegular;
}

#Comments > .card-body {
    background-color: #5c5c5c;
    color: white;
    text-align: left;
    font-size: 23px;
}

#portalcardimg {
    height: 50%;
    width: auto;
    border-radius: 8px;
}

.card-img-top {
    height: 540px;
    width: auto;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding: 10px;
}

.card-body {
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
}

#navbar{
    background: #48484a;
}

#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #111111;
    z-index:-1;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    top: 0;
}

#ABNavbarLogo {
    height: 60px;
    width: 60px;
    background: #48484a;
}

h1, h2, h3, h4, h5, h6, p, hr {
    font-family: AspergitRegular;
    color: white;
}

a {
    color: white;
}

div.navbar-collapse ul.navbar-nav li {
    font-family: HaextPlain;
    font-size: 20px;
    color: white;
}

nav-link {
    color: white;
}

nav .navbar-nav li a{
    color: white !important;
}