@font-face {
    font-family: HaextPlain;
    src: url(HaextPlain.otf);
}

@font-face {
    font-family: AspergitRegular;
    src: url(AspergitRegular.otf);
}

.body {
    z-index: -1;
    height: 100%;
    background: #111111;
}

#slogen {
    font-family: HaextPlain;
    color: white;
}

#CM_Form, #Post_Update_Form, #Comment_Form {
    font-family: AspergitRegular;
    color: white;
}

#postgrid {
    width: 200%;
}

#postrow {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 30px;
    margin-right: 1.5cm;
}

#postlistcard {
    display: grid;
    background-color: #191919;
    grid-template-rows: [r1] 2.2in [r2] 0.7in [r3] 1in [r4] 0.5in [r5] auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    border-radius: 10px;
}

#postlistcardr1 {
    grid-row-start: r1;
    grid-row-end: r2;
    color: white;
    font-family: AspergitRegular;
    justify-self: center;
    align-self: center;
}

#postlistcardr1 a {
    border-radius: 10px;
}

#postlistcardr2 {
    grid-row-start: r2;
    grid-row-end: r3;
    font-family: AspergitRegular;
    justify-self: center;
    align-self: center;
}

#postlistcardr2 a {
    color: white;
    font-size: 47px;
}

#postlistcardr3 {
    grid-row-start: r3;
    grid-row-end: r4;
    font-family: AspergitRegular;
    justify-self: center;
    align-self: center;
}

#postlistcardr3 p {
    grid-row-start: r3;
    grid-row-end: r4;
    color: white;
    font-family: AspergitRegular;
    justify-self: center;
    align-self: center;
    font-size: 26px;
}

#postlistcardr4 {
    grid-row-start: r4;
    grid-row-end: r5;
    grid-template-columns: [c1] 20% [c2] 70% [c3] 5%;
}

#postlistcardc1 {
    grid-row-start: r4;
    grid-row-end: r5;
    grid-column-start: c1;
    grid-column-end: c2;
    color: white;
    font-family: AspergitRegular;
    justify-self: center;
    align-self: center;
    margin-left: 0.2cm;
}

.row-sm .rounded-circle{
    height: 50px;
    width: 50px;
}

#postlistcardc2 {
    grid-row-start: r4;
    grid-row-end: r5;
    grid-column-start: c2;
    grid-column-end: c3;
    color: white;
    font-family: AspergitRegular;
    justify-self: center;
    align-self: center;
    /* margin-left: 10px; */
    font-size: 24px;
}

#postlistcardc3 {
    grid-row-start: r4;
    grid-row-end: r5;
    grid-column-start: c3;
    color: white;
    font-family: AspergitRegular;
    position: absolute;
    vertical-align: bottom;
    text-align: end;
    margin-top: 13px;
    margin-right: 0.2cm;
    font-size: 18px;
}

#postlistcardr5 {
    grid-row-start: r5;
    color: white;
    font-family: AspergitRegular;
    justify-self: center;
    align-self: center;
    font-size: 23px;
}

#cards {
    width: 100%;
    background: #191919;
    border: none;
}

#cardimg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: -0.1cm;
    margin-right: auto;
}

#postauthorimg {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: -0.1cm;
    margin-right: auto;
}

#postauthor {
    font-size: 50px;
}

#postdate {
    font-size: 20px;
    color: white;
}

#postcard {
    color: white;
    background-color: #48484a;
    width: 100%;
}

#postcardBody {
    text-indent: 50px;
}

#Comments {
    background-color: #48484a;
    color: white;
    font-family: AspergitRegular;
    border-radius: 25px;
}

#postcommentimg {
    height: 80px;
    width: 80px;
    padding: 7px;
    margin-top: 5px;
}

#postcommentauthor {
    color: white;
    font-size: 37px;
}

#postcommentdate {
    color: white;
    font-size: 16px;
}

#commentcontent {
    font-size: 30px;
}

#profile_picture {
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.card-img-top {
    height: 100px;
    width: auto;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding: 10px;
}

.card-body {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-size: 10px;
}

.card-title {
    font-size: 40px;
}

.card-text {
    font-size: 20px;
}

.card-footer {
    font-family: AspergitRegular;
    position:absolute;
    bottom: 0;
    font-size: 25px;
    background-color: #191919;
    color: white;
    display: flex;
    align-items: center;
}

#navbar{
    background: #48484a;
}

#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #111111;
    z-index:-1;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    top: 0;
}

#ABNavbarLogo {
    height: 60px;
    width: 60px;
    background: #48484a;
}

h1, h2, h3, h4, h5, h6, p, hr {
    font-family: AspergitRegular;
    color: white;
}

a {
    color: white;
}

div.navbar-collapse ul.navbar-nav li {
    font-family: HaextPlain;
    font-size: 20px;
    color: white;
}

nav-link {
    color: white;
}

nav .navbar-nav li a{
    color: white !important;
}