{% extends "stock_floor/base.html" %}

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div id="loginpage" class="d-flex align-items-center justify-content-center" style="height: 50rem;">
    <div class="align-middle" style="font-size: 22px;">
        <h1>Log In</h1>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form.as_p}}
            </fieldset>
            <button class="btn btn-primary" type="submit" style="font-family: AspergitRegular;">
                Log In
            </button>
            <small style="color: white; font-family: AspergitRegular;" >
                Need an account? <a href="{% url 'register' %}">Sign Up Now</a>
                Forget password? <a href="{% url 'password_reset' %}">Reset Password</a>
            </small>
        </form>
    </div>
</div>
    
{% endblock content %}